.main {
	&__animation {
		
	}
}
.content {
	display: flex;
	justify-content: space-around;
	align-items: top;
	padding-top: 4rem;
	transform: skewY(20deg);
	&__left { 
		flex-basis: 15%;
	}
	&__center { 
		overflow: hidden;
	}
	&__right {
		flex-basis: 3%;
		height: 100vh;
	}
}