/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 20.2.2020, 11:17:12
    Author     : risberg
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 27.2.2020, 10:42:16
    Author     : risberg
*/
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 31.25em) {
    html {
      font-size: 20%; } }
  @media only screen and (min-width: 31.25em) and (max-width: 40.625em) {
    html {
      font-size: 30%; } }
  @media only screen and (min-width: 40.625em) and (max-width: 50em) {
    html {
      font-size: 40%; } }
  @media only screen and (min-width: 50em) and (max-width: 62.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 62.5em) and (max-width: 75em) {
    html {
      font-size: 62,5%; } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.0; }

pre {
  display: inline; }

table, th, td {
  border: 1px solid black; }

/*
    Created on : 27.2.2020, 11:12:04
    Author     : risberg
*/
.tooltip {
  position: relative;
  border-bottom: 1px dotted black; }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: khaki;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-weight: normal; }

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent; }

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; }

.map {
  height: 100vh;
  width: 100%; }

#status {
  font-size: 2rem;
  display: none; }

#tooltip {
  font-size: 2rem;
  border: 2px solid #454140;
  padding: 1rem;
  background-color: white; }

.tooltip_table {
  width: 75vh;
  display: flex;
  flex-direction: column; }
  .tooltip_table__title {
    font-size: 2rem;
    padding: 1rem;
    background-color: whitesmoke; }
  .tooltip_table__header {
    font-size: 1.6rem;
    background-color: white;
    display: flex;
    justify-content: space-between; }
  .tooltip_table__municipality {
    font-weight: bold;
    padding: 0.2rem;
    background-color: white; }
  .tooltip_table__year {
    font-weight: bold;
    padding: 0.2rem;
    background-color: white; }
  .tooltip_table__stat_line {
    font-size: 1.6rem;
    background-color: white;
    display: flex;
    justify-content: space-between; }
  .tooltip_table__stat_title {
    padding: 0.2rem;
    background-color: white; }
  .tooltip_table__stat_data {
    padding: 0.2rem;
    background-color: white; }
  .tooltip_table__info {
    font-size: 1.6rem; }
    .tooltip_table__info-title {
      font-weight: bold; }
    .tooltip_table__info-text {
      font-size: 1.2rem; }

.town-title {
  font-size: 2rem;
  background-color: lightgray;
  margin-bottom: 0.4rem;
  padding: 8px; }

.town-info {
  font-size: 1.5rem;
  margin-bottom: 1rem; }

.town-subt {
  font-size: 1.5rem;
  font-weight: bold; }

.town-value {
  font-size: 1.5rem; }

.town-title__2 {
  font-size: 1.6rem;
  background-color: lightgray;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px; }

.stat-table__title {
  font-size: 1.5rem;
  display: inline-block; }

.stat-table__year {
  font-size: 1rem;
  display: inline-block; }

.stat-table__array {
  font-size: 1rem;
  display: inline-block; }

.controls {
  position: relative; }

#title {
  position: absolute;
  top: 8rem;
  left: 2rem;
  font-size: 2rem;
  background-color: white;
  border: 1px solid #454140;
  border-radius: 2rem;
  padding: 8px;
  width: 30%;
  text-align: center; }
  #title__1 {
    margin: 4px; }
  #title__2 {
    display: none;
    font-size: 1.6rem; }

#stats {
  position: absolute;
  bottom: 32rem;
  left: 2rem;
  font-size: 1.6rem;
  background-color: ghostwhite;
  border: 1px solid #454140;
  border-radius: 2rem;
  padding: 4px;
  width: 15%;
  text-align: center;
  cursor: pointer; }
  #stats__hlink {
    text-decoration: none;
    color: black; }

#total {
  position: absolute;
  bottom: 24rem;
  left: 2rem;
  font-size: 1.6rem;
  background-color: ghostwhite;
  border: 1px solid #454140;
  border-radius: 2rem;
  padding: 4px;
  width: 15%;
  text-align: center;
  cursor: pointer; }
  #total__hlink {
    text-decoration: none;
    color: black; }

#report {
  position: absolute;
  bottom: 16rem;
  left: 2rem;
  font-size: 1.6rem;
  background-color: ghostwhite;
  border: 1px solid #454140;
  border-radius: 2rem;
  padding: 4px;
  width: 15%;
  text-align: center;
  cursor: pointer; }
  #report__hlink {
    text-decoration: none;
    color: black; }

#share {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  background-color: transparent;
  padding: 4px;
  width: 15%; }

.stats-page {
  margin-left: 2rem; }
  .stats-page__title {
    font-size: 4rem;
    padding: 2rem; }
  .stats-page__link {
    font-size: 2rem; }

.template {
  background-color: #a79e84;
  transform: skewY(-20deg); }

/*
    Created on : 28.2.2020, 12:53:40
    Author     : risberg
*/
.header {
  font-size: 8rem;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1.6rem;
  transform: translateY(-12rem); }
  .header__text-1 {
    color: ForestGreen;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 3px 3px 5px #a79e84; }
  .header__text-2 {
    color: DarkGrey;
    font-size: 3.2rem; }

.image_block {
  text-align: right; }
  .image_block__image {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.content {
  display: flex;
  justify-content: space-around;
  align-items: top;
  padding-top: 4rem;
  transform: skewY(20deg); }
  .content__left {
    flex-basis: 15%; }
  .content__center {
    overflow: hidden; }
  .content__right {
    flex-basis: 3%;
    height: 100vh; }

.share-buttons {
  /* &:hover { */
  /* box-shadow: 5px 5px 10px black; */
  /* transform: translateY(-2px); */
  /* } */ }

.push-button {
  background-color: whitesmoke;
  color: #454140;
  padding: 0.4rem;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 5px 5px black;
  cursor: pointer;
  /* &:hover { */
  /* box-shadow: 5px 5px 10px black; */
  /* transform: translateY(-2px); */
  /* } */ }

.greeting-text {
  font-size: 2rem; }

.warning {
  background-color: orange;
  color: white;
  font-size: 2rem;
  padding: 1rem; }
