/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 27.2.2020, 10:42:16
    Author     : risberg
*/
$bp-largest: 75em;     		// 1200px
$bp-large: 68.75em;    		// 1100px
$bp-medium-large: 62.5em;   // 1000px
$bp-medium: 56.25em;   		// 900px
$bp-small-medium: 50.00em;  // 800px
$bp-small: 40.625em;     	// 650px
$bp-smallest: 31.25em; 		// 500px

$color-pri: #454140;
$color-sec: #bd5734;
$color-ter: #a79e84;
$color-quad: #7a3b2e;
$color-penta: aqua;
$color-sext: ForestGreen;

$bg-image: "https://firebasestorage.googleapis.com/v0/b/fir-test-fd267.appspot.com/o/fribakuva1.jpg?alt=media&token=f71e7c18-3409-4a91-8274-847957af7fbe";
							
