#status {
	font-size: 2rem;
	display: none;
}

#tooltip {
	font-size: 1.4rem;
	border: 2px solid $color-pri;
	padding: 1rem;
	background-color: white;	
}
.tooltip_table { //flex container
	//border: 1px solid $color-pri;
	width: 75vh;
	display: flex;
	flex-direction: column;
	&__title {
		//font-size: 2rem;
		//border: 2px solid $color-sec;
		padding: 1rem;
		background-color: whitesmoke;		
	}
	&__header { //flex container
		//font-size: 1.6rem;
		//border: 4px solid yellow;
		//padding: 1rem;
		background-color: white;
		display: flex;
		justify-content: space-between;
	}
	&__municipality {
		//font-size: 1rem;
		font-weight: bold;
		//border: 2px solid $color-pen;
		padding: 0.2rem;
		background-color: white;	
	}
	&__year {
		//font-size: 1rem;
		//border: 2px solid $color-pen;
		font-weight: bold;		
		padding: 0.2rem;
		background-color: white;	
	}
	&__stat_line { //flex container
		//font-size: 1.6rem;
		//border: 2px solid $color-sex;
		//padding: 0.2rem;
		background-color: white;
		display: flex;
		justify-content: space-between;		
	}
	&__stat_title {
		//font-size: 1rem;
		//border: 1px solid black;
		padding: 0.2rem;
		background-color: white;			
	}
	&__stat_data {
		//font-size: 1rem;
		//border: 1px solid black;
		padding: 0.2rem;
		background-color: white;			
	}
	&__info {
		margin-top: 8px;
		padding-top: 8px;
		border-top: 0.4px solid black;
		//font-size: 1.6rem;
		&-title {
			font-weight: bold;
		}
		&-text {
			font-size: 1.4rem;
		}
	}
}

.town {
	&-title {
		font-size: 2rem;
		background-color: lightgray;
		margin-bottom: 0.4rem;
		padding: 8px;
	}
	&-info {
		font-size: 1.5rem;
		margin-bottom: 1rem;		
	}
	&-subt {
		font-size: 1.5rem;
		font-weight: bold;
	}
	&-value {
		font-size: 1.5rem;
	}
	&-title__2 {
		font-size: 1.6rem;
		background-color: lightgray;
		margin-top: 8px;
		margin-bottom: 8px;
		padding: 8px;		
	}
}

.stat-table {
	&__title {
		font-size: 1.5rem;
		display: inline-block;
	}
	&__year {
		font-size: 1rem;
		display: inline-block;
	}
	&__array {
		font-size: 1rem;
		display: inline-block;
	}	
}

.controls {
	position: relative;
}

#title {
	position: absolute;
	top: 8rem;
	left: 2rem;
	font-size: 2rem;
	background-color: white;
	border: 1px solid $color-pri;
	border-radius: 2rem;
	padding: 8px;
	width: 30%;
	text-align: center;
	&__1 {
		margin: 4px;
	}
	&__2 {
		display: none;
		font-size: 1.6rem;
	}
}
#stats {
	position: absolute;
	bottom: 32rem;
	left: 2rem;	
	font-size: 1.6rem;
	background-color: ghostwhite;
	border: 1px solid $color-pri;
	border-radius: 2rem;
	padding: 4px;
	width: 15%;
	text-align: center;
	cursor: pointer;
	&__hlink {
		text-decoration: none;
		color: black;
	}
}
#total {
	position: absolute;
	bottom: 24rem;
	left: 2rem;	
	font-size: 1.6rem;
	background-color: ghostwhite;
	border: 1px solid $color-pri;
	border-radius: 2rem;
	padding: 4px;
	width: 15%;
	text-align: center;
	cursor: pointer;	
	&__hlink {
		text-decoration: none;
		color: black;
	}
}
#report {
	position: absolute;
	bottom: 16rem;
	left: 2rem;	
	font-size: 1.6rem;
	background-color: ghostwhite;
	border: 1px solid $color-pri;
	border-radius: 2rem;
	padding: 4px;
	width: 15%;
	text-align: center;
	cursor: pointer;	
	&__hlink {
		text-decoration: none;
		color: black;
	}
}

#share {
	position: absolute;
	bottom: 2rem;
	left: 2rem;	
	background-color: transparent;
	padding: 4px;
	width: 15%;
}


